* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: Roboto, sans-serif!important;
    background: #f9f9f9;
    color: #4e4a57;
    font-size: 14px;
}

:root {
    --main-color: #43287F;
    --main-color-bright: #4f2a93;
}

#preloader {
    z-index: 1050;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #432874;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

#melior {
    margin: 0 auto;
    width: 70px;
    -webkit-animation-name: animate1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.4s; /* Chrome, Safari, Opera */
    animation-name: animate1;
    animation-duration: 2.4s;
}

.nav {
    height: 56px;
    background: var(--main-color);
}

.logo {
    width: 128px;
    height: 28px;
    padding: 10px;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav .navbar-nav {
    flex-direction: row;
}

.nav .nav-link {
    padding: 0.8em 1em!important;
    color: white!important;
    font-size: 16px;
    font-weight: 700;
}

.topbar-item {
    cursor: pointer;
}

.topbar-item:hover {
    background-color: var(--main-color-bright);
}

.item-with-icon {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}


/* Standard syntax */
@-webkit-keyframes animate1 {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    100% {opacity: 100%;}
}

/* Standard syntax */
@keyframes animate1 {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    100% {opacity: 100%;}
}